<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Bato Elementary School</title>
</head>
<body>
	
	<label>Subject Name :</label> <span th:text="${subject.subjectname}"></span><br>
	<label>Teacher Name :</label> <span th:text="${subject.teachername}"></span>
	
		<div align="center">
		
		<table border="1">
			
			<thead>
				<tr>
					<td>1st Grading</td>
					<td>2nd Grading</td>
					<td>3rd Grading</td>
					<td>4th Grading</td>
				</tr>
			</thead>
				<tr th:each="gradesList : ${gradesList}">
				
					<td th:text="${gradesList.firstgrading}"></td>
					<td th:text="${gradesList.secondgrading}"></td>
					<td th:text="${gradesList.thirdgrading}"></td>
					<td th:text="${gradesList.fourthgrading}"></td>
					
				</tr>
		</table>
		
		 </div>
	
</body>
</html>