<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Bato Elementary School</title>

</head>
<body>

<div align="center">

<label>Username :</label> <span th:text="${username}"></span><br>

	<form th:action="@{/teacher/reset-password}" th:object="${students}" th:method="post">
	
		
			<input type="hidden" th:field="*{id}">
		<input type="hidden" th:field="*{username}">
		<input type="hidden" th:field="*{firstname}">
		<input type="hidden" th:field="*{middlename}">
		<input type="hidden" th:field="*{lastname}">
		<input type="hidden" th:field="*{year}">
		<input type="hidden" th:field="*{section}">
		
		<label>New Password :</label><input type="password" th:field="*{password}"><br>
		<span  th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span><br>
		<input type="submit" value="Reset">
		
	</form>

</div>

</body>
</html>