<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Bato Elementary School</title>
</head>
<body>
	<a th:href="@{/teacher/signup-student}">Add student</a><br>
	<a th:href="@{/teacher/view-students}">Edit/Delete students</a><br>
	<a th:href="@{/teacher/subject-students}">Add/View students subjects</a><br>
	<a th:href="@{/teacher/grades-student}">Student grades</a>
	<a th:href="@{/teacher/manage-profile}">Manage Profile</a>
	<a th:href="@{/teacher/logout}">Logout</a>
	
</body>
</html>