<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Bato Elementary School</title>
</head>
<body>
	<div align="center">
	
		<table border="1">
			
			<thead>
				<tr>
					<td>Subject Name:</td>
					<td>Teacher Name :</td>
					<td>Action</td>
				</tr>
			</thead>
				<tr th:each="subjectlist : ${studentSubjects}">
				
					<td th:text="${subjectlist.subjectname}"></td>
					<td th:text="${subjectlist.teachername}"></td>
					<td> <a th:href="@{/teacher/list-grades(id=${subjectlist.id})}">View Grades</a> </td>
				</tr>
		</table>
	
	</div>
</body>
</html>